/.vs
/output




/src/Meow.Core/bin
/src/Meow.Core/obj
/src/Meow.ObjectMapping.AutoMapper/bin
/src/Meow.ObjectMapping.AutoMapper/obj
/src/Meow.Aop.AspectCore/bin
/src/Meow.Aop.AspectCore/obj
/src/Meow.Validation/bin
/src/Meow.Validation/obj
/src/Meow.Data.Abstraction/bin
/src/Meow.Data.Abstraction/obj

/src/Meow.Logging/bin
/src/Meow.Logging/obj
/src/Meow.Logging.Serilog/bin
/src/Meow.Logging.Serilog/obj
/src/Meow.Logging.Serilog.Exceptionless/bin
/src/Meow.Logging.Serilog.Exceptionless/obj

/src/Meow.Event/bin
/src/Meow.Event/obj

/src/Meow.Domain/bin
/src/Meow.Domain/obj

/src/Meow.Data.Core/bin
/src/Meow.Data.Core/obj
/src/Meow.Data.Sql/bin
/src/Meow.Data.Sql/obj
/src/Meow.Data.Metadata/bin
/src/Meow.Data.Metadata/obj




/test/Meow.Common.Test/bin
/test/Meow.Common.Test/obj

/test/Meow.Core.Test/bin
/test/Meow.Core.Test/obj
