/.vs
/output



/01-src/01-core/Meow/bin
/01-src/01-core/Meow/obj

/01-src/02-service/Meow.Domain/bin
/01-src/02-service/Meow.Domain/obj
/01-src/02-service/Meow.Data/bin
/01-src/02-service/Meow.Data/obj






/02-test/00-common/Meow.Common.Test/bin
/02-test/00-common/Meow.Common.Test/obj

/02-test/01-core/Meow.Test/bin
/02-test/01-core/Meow.Test/obj

/02-test/02-service/Meow.Domain.Test/bin
/02-test/02-service/Meow.Domain.Test/obj
/02-test/02-service/Meow.Data.Test/bin
/02-test/02-service/Meow.Data.Test/obj







/03-sample/01-application/01-Presentation/Meow.Sample.Api/bin
/03-sample/01-application/01-Presentation/Meow.Sample.Api/obj
/03-sample/01-application/02-Service/Meow.Sample.Service/bin
/03-sample/01-application/02-Service/Meow.Sample.Service/obj
/03-sample/01-application/03-Domain/Meow.Sample.Domain/bin
/03-sample/01-application/03-Domain/Meow.Sample.Domain/obj
/03-sample/01-application/04-Infrastructure/Meow.Sample.Data/bin
/03-sample/01-application/04-Infrastructure/Meow.Sample.Data/obj